@import url(general.css);

.chip {
	margin-left: 8%;
	background-color:#ee6e73;
	color:#fff
}

#imgBook  {
	float : left;
	margin-right : 15px;
	margin-left : 15px;
}

#okCustom {
	float : right;
	margin-right: 20px;	
	margin-topt: 15px;	
	margin-bottom: 20px;	
}

.pModal {
	margin:10px;
}

.switch {
	padding-bottom:8px;
}